@page
@model ISO_Manager.Pages.Admin.Duties.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Duty</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duty.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duty.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duty.step)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duty.step)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duty.created_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duty.created_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duty.updated_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duty.updated_at)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Duty.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
