@page
@model ISO_Manager.Pages.Admin.EmergencyTeams.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EmergencyTeam</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyTeam.Duty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyTeam.Duty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyTeam.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyTeam.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyTeam.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyTeam.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyTeam.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyTeam.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyTeam.WorkPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyTeam.WorkPlace.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyTeam.Duty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyTeam.Duty.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmergencyTeam.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
