@page
@model ISO_Manager.Pages.Admin.Inspections.DetailsModel

@{
    ViewData["Title"] = "جزئیات بازرسی";
    var row = 1;
}


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="./Index">لیست گزارشات بازرسی</a></li>
                    <li class="breadcrumb-item" aria-current="page">گزارش بازرسی </li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-x-6">
            <div class="col-span-12">
                <div class="card table-card">
                    <div class="card-header">
                        <div class="sm:flex items-center justify-between">
                            <h5 class="mb-3 sm:mb-0">گزارش بازرسی </h5>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="table-responsive">
                            <table class="table table-hover" id="pc-dt-simple">
                                <thead>

                                    <tr>
                                        <th>ردیف</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Inspectiontexts[0].text)
                                        </th>
                                        <th>
                                            توضیحات
                                        </th>
                                        <th>
                                            عملیات
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InspectionDetails)
                                    {
                                        <form method="post">
                                            <input Type="hidden" asp-for="EditDetailId" value="@item.Id"/>
                                            <tr>
                                                <td>@(row++)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.text)
                                                </td>
                                                @if (item.Description == null)
                                                {
                                                    <td>
                                                        <input Type="text" asp-for="InspectionDesc" class="form-control">
                                                    </td>
                                                <td><button class="btn btn-primary" Type="submit">ذخیره</button></td>
                                                }
                                                else
                                                {
                                                    <td>
                                                    <input Type="text" asp-for="InspectionDesc" class="form-control" value="@item.Description">
                                                    </td>
                                                    <td><button class="btn btn-info" Type="submit">ویرایش</button></td>
                                                }
                                                
                                            </tr>
                                        </form>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

