@page
@model ISO_Manager.Pages.Admin.Standards.IndexModel

@{
    ViewData["Title"] = "لیست استانداردها";
    var row = 1;
}


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">لیست استاندارد ها</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-x-6">
            <div class="col-span-12">
                <div class="card table-card">
                    <div class="card-header">
                        <div class="sm:flex items-center justify-between">
                            <h5 class="mb-3 sm:mb-0">لیست استاندارد ها</h5>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="grid grid-cols-12 gap-6">
                            <div class="col-span-12 md:col-span-3">
                                <ul class="flex flex-col w-full Text-center nav-tabs">
                                    <li class="group grow active">
                                        <a href="javascript:void(0);" data-pc-toggle="tab" data-pc-target="verticalpills-1" class="w-full inline-block px-4 py-2 transition-all Duration-300 ease-linear rounded-lg Text-primary-500 group-[.active]:bg-primary-500 group-[.active]:Text-white">
                                            ISO45001
                                        </a>
                                    </li>
                                    <li class="group grow">
                                        <a href="javascript:void(0);" data-pc-toggle="tab" data-pc-target="verticalpills-2" class="w-full inline-block px-4 py-2 transition-all Duration-300 ease-linear rounded-lg Text-primary-500 group-[.active]:bg-primary-500 group-[.active]:Text-white">
                                            ISO14001
                                        </a>
                                    </li>
                                    <li class="group grow ">
                                        <a href="javascript:void(0);" data-pc-toggle="tab" data-pc-target="verticalpills-3" class="w-full inline-block px-4 py-2 transition-all Duration-300 ease-linear rounded-lg Text-primary-500 group-[.active]:bg-primary-500 group-[.active]:Text-white">
                                            ISO9001
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-span-12 md:col-span-9">
                                <div class="tab-content">
                                    <div class="tab-pane block" id="verticalpills-1">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="pc-dt-simple">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Standard[0].FaChapter)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Standard[0].FaSubchapter)
                                                        </th>
                                                        <th>عملیات</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Standard.Where(m => m.StandardName == "iso45001").ToList())
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FaChapter)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FaSubchapter)
                                                            </td>
                                                            <td>
                                                                <a asp-page="./Details" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                                    <i class="ti ti-eye Text-xl leading-none"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane hidden" id="verticalpills-2">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="pc-dt-simple">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Standard[0].FaChapter)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Standard[0].FaSubchapter)
                                                    </th>
                                                    <th>عملیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Standard.Where(m => m.StandardName == "iso14001").ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FaChapter)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FaSubchapter)
                                                        </td>
                                                        <td>
                                                            <a asp-page="./Details" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                                <i class="ti ti-eye Text-xl leading-none"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane hidden" id="verticalpills-3">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="pc-dt-simple">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Standard[0].FaChapter)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Standard[0].FaSubchapter)
                                                    </th>
                                                    <th>عملیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Standard.Where(m => m.StandardName == "iso9001").ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FaChapter)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FaSubchapter)
                                                        </td>
                                                        <td>
                                                            <a asp-page="./Details" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                                <i class="ti ti-eye Text-xl leading-none"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
