@page
@model ISO_Manager.Pages.Admin.Ambulances.CreateModel

@{
ViewData["Title"] = "ایجاد آمبولانس";
}
        
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="./Index">لیست آمبولانس ها</a></li>
                    <li class="breadcrumb-item" aria-current="page">ایجاد</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ایجاد آمبولانس</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4 flex flex-col gap-2">
                                    <label asp-for="Ambulance.UserId" class="control-label"></label>
                                    <select id="users" asp-for="Ambulance.UserId" class="form-select">
                                        @foreach (var item in ViewBag.users)
                                        {
                                            <option value="@item.id">@item.name - - @item.register_code</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4 flex flex-col gap-2">
                                    <label asp-for="Ambulance.WorkPlaceId" class="control-label"></label>
                                    <select id="workPlaces" asp-for="Ambulance.WorkPlaceId" class="form-select">
                                        @foreach (var item in ViewBag.workPlaces)
                                        {
                                            <option value="@item.id">@item.Title</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Ambulance.Owner" class="control-label"></label>
                                    <input asp-for="Ambulance.Owner" class="form-control"/>
                                    <span asp-validation-for="Ambulance.Owner" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Ambulance.CarModel" class="control-label"></label>
                                    <input asp-for="Ambulance.CarModel" class="form-control"/>
                                    <span asp-validation-for="Ambulance.CarModel" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Ambulance.CarYear" class="control-label"></label>
                                    <input asp-for="Ambulance.CarYear" class="form-control"/>
                                    <span asp-validation-for="Ambulance.CarYear" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Ambulance.Type" class="control-label"></label>
                                    <input asp-for="Ambulance.Type" class="form-control"/>
                                    <span asp-validation-for="Ambulance.Type" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Ambulance.OwnerStatus" class="control-label"></label>
                                    <input asp-for="Ambulance.OwnerStatus" class="form-control"/>
                                    <span asp-validation-for="Ambulance.OwnerStatus" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Ambulance.RentalNumber" class="control-label"></label>
                                    <input asp-for="Ambulance.RentalNumber" class="form-control"/>
                                    <span asp-validation-for="Ambulance.RentalNumber" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Ambulance.CarTag" class="control-label"></label>
                                    <input asp-for="Ambulance.CarTag" class="form-control"/>
                                    <span asp-validation-for="Ambulance.CarTag" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Ambulance.Description" class="control-label"></label>
                                    <input asp-for="Ambulance.Description" class="form-control"/>
                                    <span asp-validation-for="Ambulance.Description" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="Ambulance.Status" class="control-label"></label>
                                    <select asp-for="Ambulance.Status" class="form-select">
                                        <option value="active">فعال</option>
                                        <option value="deactive">غیر فعال</option>
                                    </select>
                                    <span asp-validation-for="Ambulance.Status" class="text-danger"></span>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
            
            var users = new Choices(document.getElementById('users'));
        var workPlaces = new Choices(document.getElementById('workPlaces'));
       
        </script>
}
