@page
@model ISO_Manager.Pages.Admin.Ambulances.IndexModel

@{
    ViewData["Title"] = "لیست آمبولانس ها";
    var row = 1;
}

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">لیست آمبولانس ها</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-x-6">
            <div class="col-span-12">
                <div class="card table-card">
                    <div class="card-header">
                        <div class="sm:flex items-center justify-between">
                            <h5 class="mb-3 sm:mb-0">لیست آمبولانس ها</h5>
                            <div>
                                <a asp-page="./Create" class="btn btn-primary">اضافه کردن آمبولانس</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="table-responsive">
                            <table class="table table-hover" id="pc-dt-simple">
                                <thead>

                                <tr>
                                    <th>ردیف</th>
                                    <th>محل استقرار</th>
                                    <th>راننده</th>
                                    <th> @Html.DisplayNameFor(model => model.Ambulances[0].Owner)</th>
                                    <th> @Html.DisplayNameFor(model => model.Ambulances[0].CarModel)</th>
                                    <th> @Html.DisplayNameFor(model => model.Ambulances[0].CarYear)</th>
                                    <th> @Html.DisplayNameFor(model => model.Ambulances[0].Type)</th>
                                    <th> @Html.DisplayNameFor(model => model.Ambulances[0].OwnerStatus)</th>
                                    <th> @Html.DisplayNameFor(model => model.Ambulances[0].RentalNumber)</th>
                                    <th> @Html.DisplayNameFor(model => model.Ambulances[0].CarTag)</th>
                                    <th>عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.Ambulances)
                                {
                                    <tr>
                                        <td>@(row++ + ( (ViewBag.pageId -1) * ViewBag.Take))</td>
                                        <td>@Html.DisplayFor(modelItem => item.WorkPlace!.Title)</td>
                                        <td>@Html.DisplayFor(modelItem => item.User!.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Owner)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CarModel)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CarYear)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                        <td>@Html.DisplayFor(modelItem => item.OwnerStatus)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RentalNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CarTag)</td>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                <i class="ti ti-edit text-xl leading-none"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            @if (ViewBag.ItemCount > ViewBag.Take)
                            {
                                <nav aria-label="Page navigation example">
                                    <ul class="flex justify-center *:*:inline-block *:*:px-3 *:*:py-1.5 *:border *:border-theme-border *:dark:border-themedark-border hover:*:bg-secondary-300/10 mb-3">
                                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                                {
                                            <li class="@((ViewBag.pageId == i) ? "bg-primary" : "")"><a asp-route-pageId="@i">@i</a></li>
                                }
                                    </ul>
                                </nav>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

