@page
@model ISO_Manager.Pages.Admin.ClothGroupLists.CreateModel

@{
ViewData["Title"] = "لیست اعضای گروه";
}
        
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-route-id="@Model.ClothGroupId" asp-page="/Admin/ClothGroups/Details">لیست اعضای گروه</a></li>
                    <li class="breadcrumb-item" aria-current="page">ایجاد</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ایجاد عضو گروه</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input Type="hidden" asp-for="ClothGroupList.ClothGroupId"  value="@Model.ClothGroupId" />
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ClothGroupList.Shoes" class="control-label"></label>
                                    <input asp-for="ClothGroupList.Shoes" class="form-control my-2"/>
                                    <span asp-validation-for="ClothGroupList.Shoes" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ClothGroupList.BoilerSuit" class="control-label"></label>
                                    <input asp-for="ClothGroupList.BoilerSuit" class="form-control my-2"/>
                                    <span asp-validation-for="ClothGroupList.BoilerSuit" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ClothGroupList.UserId" class="control-label"></label>
                                    <select id="users" asp-for="ClothGroupList.UserId" class="form-select my-2">
                                        @foreach (var item in ViewBag.users)
                                        {
                                            <option value="@item.Id">@item.Name - - @item.RegisterCode</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <button Type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>

            var users = new Choices(document.getElementById('users'));

        </script>

    }
}