@page
@model ISO_Manager.Pages.Admin.ClothGroupLists.EditModel

@{ ViewData["Title"] = "ویرایش عضو گروه"; }


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">ایجاد</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-header">
                        <h5>ویرایش عضو گروه</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ClothGroupList.Id" />
                            @* <input type="hidden" asp-for="ClothGroupList.user_id" /> *@
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ClothGroupList.shoes" class="control-label"></label>
                                    <input asp-for="ClothGroupList.shoes" class="form-control"/>
                                    <span asp-validation-for="ClothGroupList.shoes" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ClothGroupList.boiler_suit" class="control-label"></label>
                                    <input asp-for="ClothGroupList.boiler_suit" class="form-control"/>
                                    <span asp-validation-for="ClothGroupList.boiler_suit" class="text-danger"></span>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ClothGroupList.user_id" class="control-label"></label>
                                    <select id="users" asp-for="ClothGroupList.user_id" class="form-select">
                                        @foreach (var item in ViewBag.users)
                                        {
                                            <option value="@item.id">@item.name - - @item.register_code</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-span-12 md:col-span-6 mb-4">
                                    <label asp-for="ClothGroupList.cloth_group_id" class="control-label"></label>
                                    <select id="groups" asp-for="ClothGroupList.cloth_group_id" class="form-select">
                                        @foreach (var item in ViewBag.cloth_groups)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
             
            var users = new Choices(document.getElementById('users'));
            var groups = new Choices(document.getElementById('groups'));
       
        </script>

    }
}