@page
@model ISO_Manager.Pages.Admin.IndexModel
@{}


<div class="pc-container">
      <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/Admin/Index">خانه</a></li>
              <li class="breadcrumb-item" aria-current="page">داشبورد</li>
            </ul>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->


        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-x-6">
          <div class="col-span-12 lg:col-span-3 md:col-span-6">
            <div class="card">
              <div class="card-body">
                <div class="flex items-center">
                  <div class="shrink-0">
                    <div class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-primary-500/10 Text-primary-500">
                      <i class="ti ti-users Text-2xl leading-none"></i>
                    </div>
                  </div>
                  <div class="flex flex-col grow ltr:ml-3 rtl:mr-3 gap-y-4">
                    <p class="mb-1">تعداد کارکنان</p>
                    <div class="flex items-center justify-between">
                        <h6 class="mb-0">رسمی</h6>
                        <span class="Text-success font-medium">@Model.RasmiUserCount</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <h6 class="mb-0">قراردادی</h6>
                                    <span class="Text-success font-medium">@Model.GharardadiUserCount</span>
                    </div>
                    <div class="flex items-center justify-between">
                        <h6 class="mb-0">پیمانکاری</h6>
                                    <span class="Text-success font-medium">@Model.PeymankariUserCount</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 lg:col-span-3 md:col-span-6">
              <div class="card">
                  <div class="card-body">
                      <div class="flex items-center">
                          <div class="shrink-0">
                              <div class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-primary-500/10 Text-primary-500">
                                  <i class="ti ti-users Text-2xl leading-none"></i>
                              </div>
                          </div>
                          <div class="flex flex-col grow ltr:ml-3 rtl:mr-3 gap-y-4">
                              <p class="mb-1">تعداد حوادث</p>
                              <div class="flex items-center justify-between">
                                  <h6 class="mb-0">رسمی</h6>
                                  <span class="Text-success font-medium">@Model.RasmiAccidentCount</span>
                              </div>
                              <div class="flex items-center justify-between">
                                  <h6 class="mb-0">قراردادی/ پیمانکاری</h6>
                                  <span class="Text-success font-medium">@Model.PeymankariAccidentCount</span>
                              </div>
                              <div class="flex items-center justify-between">
                                  <h6 class="mb-0">روزهای از دست رفته</h6>
                                  <span class="Text-success font-medium">@Model.LostAccidentDays</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-span-12 lg:col-span-3 md:col-span-6">
              <div class="card">
                  <div class="card-body">
                      <div class="flex items-center">
                          <div class="shrink-0">
                              <div class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-primary-500/10 Text-primary-500">
                                  <i class="ti ti-users Text-2xl leading-none"></i>
                              </div>
                          </div>
                          <div class="flex flex-col grow ltr:ml-3 rtl:mr-3 gap-y-4">
                              <p class="mb-1">تعداد گازسنج ها</p>
                              <div class="flex items-center justify-between">
                                  <h6 class="mb-0">فعال  @Model.Age</h6>
                                  <span class="Text-success font-medium">@Model.ActiveGasDetector</span>
                              </div>
                              <div class="flex items-center justify-between">
                                  <h6 class="mb-0">در حال کالیبراسیون</h6>
                                  <span class="Text-success font-medium">@Model.InProgressGasDetector</span>
                              </div>
                              <div class="flex items-center justify-between">
                                  <h6 class="mb-0">منقضی</h6>
                                  <span class="Text-success font-medium">@Model.ExpiredGasDetector</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-span-12 lg:col-span-3 md:col-span-6">
              <div class="card">
                  <div class="card-body">
                      <div class="flex items-center">
                          <div class="shrink-0">
                              <div class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-primary-500/10 Text-primary-500">
                                  <i class="ti ti-users Text-2xl leading-none"></i>
                              </div>
                          </div>
                          <div class="flex flex-col grow ltr:ml-3 rtl:mr-3 gap-y-4">
                              <p class="mb-1"> پیمانکاران</p>
                              <div class="flex items-center justify-between">
                                  <h6 class="mb-0">تعداد کل</h6>
                                    <span class="Text-success font-medium">@(Model.ActiveContractor + Model.ExpiredContractor)</span>
                              </div>
                              <div class="flex items-center justify-between">
                                  <h6 class="mb-0">فعال</h6>
                                  <span class="Text-success font-medium">@Model.ActiveContractor</span>
                              </div>
                              <div class="flex items-center justify-between">
                                  <h6 class="mb-0">منقضی</h6>
                                  <span class="Text-success font-medium">@Model.ExpiredContractor</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-span-12">
              <div class="card table-card">
                  <div class="card-header">
                      <div class="flex items-center justify-between">
                          <h5 class="mb-0">گزارش روزانه</h5>
                          <a asp-page="/Admin/DailyReports/Create" class="btn btn-sm btn-link-primary">ایجاد گزارش روزانه</a>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover" id="pc-dt-simple">
                              <thead>
                              <tr>
                                  <th>ردیف</th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.DailyReport[0].Unit)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.DailyReport[0].Location)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.DailyReport[0].RigBoss)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.DailyReport[0].CampBoss)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.DailyReport[0].Doctor)
                                  </th>
                                  <th>عملیات</th>
                              </tr>
                              </thead>
                              <tbody>
                              @foreach (var item in Model.DailyReport)
                              {
                                  <tr>
                                      <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Unit)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Location)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.RigBoss.Name)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.CampBoss.Name)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Doctor.Name)
                                      </td>
                                      <td>
                                          <a asp-page="/Admin/DailyReports/Edit" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                              <i class="ti ti-edit Text-xl leading-none"></i>
                                          </a>
                                      </td>
                                  </tr>
                              }
                              </tbody>

                          </table>
                      </div>
                  </div>
              </div>
          </div>
        <div class="col-span-12 lg:col-span-3 md:col-span-6">
            <div class="card">
                <div class="card-body">
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <div class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-primary-500/10 Text-primary-500">
                                <i class="ti ti-users Text-2xl leading-none"></i>
                            </div>
                        </div>
                        <div class="flex flex-col grow ltr:ml-3 rtl:mr-3 gap-y-4">
                            <p class="mb-1"> البسه</p>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">کفش ایمنی</h6>
                                <span class="Text-success font-medium">@Model.RasmiUserCount</span>
                            </div>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">لباس کار</h6>
                                <span class="Text-success font-medium">@Model.GharardadiUserCount</span>
                            </div>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">کلاه ایمنی</h6>
                                <span class="Text-success font-medium">@Model.PeymankariUserCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-3 md:col-span-6">
            <div class="card">
                <div class="card-body">
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <div class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-primary-500/10 Text-primary-500">
                                <i class="ti ti-users Text-2xl leading-none"></i>
                            </div>
                        </div>
                        <div class="flex flex-col grow ltr:ml-3 rtl:mr-3 gap-y-4">
                            <p class="mb-1"> بازرسی ها</p>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">تعداد انجام شده</h6>
                                <span class="Text-success font-medium">@Model.RasmiUserCount</span>
                            </div>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">تعداد عدم انطباق</h6>
                                <span class="Text-success font-medium">@Model.GharardadiUserCount</span>
                            </div>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">-------</h6>
                                <span class="Text-success font-medium">------</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-3 md:col-span-6">
            <div class="card">
                <div class="card-body">
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <div class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-primary-500/10 Text-primary-500">
                                <i class="ti ti-users Text-2xl leading-none"></i>
                            </div>
                        </div>
                        <div class="flex flex-col grow ltr:ml-3 rtl:mr-3 gap-y-4">
                            <p class="mb-1">تعداد کارت سلامت</p>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">فعال</h6>
                                <span class="Text-success font-medium">@Model.RasmiUserCount</span>
                            </div>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">منقضی</h6>
                                <span class="Text-success font-medium">@Model.GharardadiUserCount</span>
                            </div>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">-----</h6>
                                <span class="Text-success font-medium">------</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-3 md:col-span-6">
            <div class="card">
                <div class="card-body">
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <div class="w-12 h-12 rounded-lg inline-flex items-center justify-center bg-primary-500/10 Text-primary-500">
                                <i class="ti ti-users Text-2xl leading-none"></i>
                            </div>
                        </div>
                        <div class="flex flex-col grow ltr:ml-3 rtl:mr-3 gap-y-4">
                            <p class="mb-1">تعداد کارکنان</p>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">رسمی</h6>
                                <span class="Text-success font-medium">@Model.RasmiUserCount</span>
                            </div>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">قراردادی</h6>
                                <span class="Text-success font-medium">@Model.GharardadiUserCount</span>
                            </div>
                            <div class="flex items-center justify-between">
                                <h6 class="mb-0">پیمانکاری</h6>
                                <span class="Text-success font-medium">@Model.PeymankariUserCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>
