@page
@using ISO_Manager.Utilities
@model ISO_Manager.Pages.Admin.Clothes.IndexModel

@{
    ViewData["Title"] = "Index";
    var row = 1;
}


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">سوابق دریافت البسه استحفاظی</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-x-6">
            <div class="col-span-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="flex w-full items-center">
                            <div class=" w-1/2 ml-4">
                                <input type="text" class="form-control" asp-for="Search">
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-primary">جستجو</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card table-card">
                    <div class="card-header">
                        <div class="sm:flex items-center justify-between">
                            <h5 class="mb-3 sm:mb-0">سوابق دریافت البسه استحفاظی</h5>
                            <div>
                                <a asp-page="./Create" class="btn btn-primary">دریافت البسه</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="table-responsive">
                            <table class="table table-hover" id="pc-dt-simple">
                                <thead>

                                <tr>
                                    <th>ردیف</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cloth[0].cloth_type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cloth[0].receive_date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cloth[0].receive_type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cloth[0].size)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cloth[0].description)
                                    </th>
                                    <th>عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.Cloth)
                                {
                                    <tr>
                                            <td>@(row++ + ((ViewBag.pageId - 1) * ViewBag.Take))</td>
                                            <td class="text-start">
                                                @if (item.cloth_type.Equals("shoes"))
                                                {
                                                    <span class="badge text-white bg-rose-500">کفش ایمنی</span>
                                                }
                                                else if (item.cloth_type.Equals("boot"))
                                                {
                                                    <span class="badge text-white bg-danger-500">کفش ساق بلند</span>
                                                }
                                                else if (item.cloth_type.Equals("boot-shoes"))
                                                {
                                                    <span class="badge text-white bg-info-500">چکمه ایمنی</span>
                                                }
                                                else if (item.cloth_type.Equals("boiler-suit"))
                                                {
                                                    <span class="badge text-white bg-secondary-500">لباس کار</span>
                                                }
                                                else if (item.cloth_type.Equals("glasses"))
                                                {
                                                    <span class="badge text-white bg-success-500">عینک ایمنی</span>
                                                }
                                                else if (item.cloth_type.Equals("earmuff"))
                                                {
                                                    <span class="badge text-white bg-blue-500">گوشی ایمنی</span>
                                                }
                                                else if (item.cloth_type.Equals("safety-helmet"))
                                                {
                                                    <span class="badge text-white bg-yellow-500">کلاه ایمنی</span>
                                                }
                                                else if (item.cloth_type.Equals("rain-coat"))
                                                {
                                                    <span class="badge text-white bg-black-500">بارانی</span>
                                                }
                                            </td>
                                            <td>
                                                @DateToPersian.ToShamsi(item.receive_date)
                                            </td>
                                        <td class="text-start">
                                                @if (item.receive_type.Equals("usual"))
                                            {
                                                <span class="badge text-white bg-success-500">سهمیه</span>
                                            }
                                                else if (item.receive_type.Equals("emergency"))
                                            {
                                                <span class="badge text-white bg-danger-500">اضطراری</span>
                                            }
                                                else if (item.receive_type.Equals("BossOrder"))
                                                {
                                                    <span class="badge text-white bg-yellow-500">دستور رئیس</span>
                                                }
                                                else if (item.receive_type.Equals("guest"))
                                                {
                                                    <span class="badge text-white bg-info-500">مهمان</span>
                                                }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.size)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.description)
                                        </td>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                <i class="ti ti-edit text-xl leading-none"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
