@page
@model ISO_Manager.Pages.Admin.Contractors.DetailsModel

@{ ViewData["Title"] = "Details"; }

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="./Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="../Users/Index">لیست کاربران</a></li>
                    <li class="breadcrumb-item" aria-current="page">اطلاعات کاربر</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <!-- [ sample-page ] start -->
            <div class="col-span-12">
                <div class="card">
                    <div class="card-body !py-0">
                        <ul class="flex flex-wrap w-full font-medium text-center nav-tabs">
                            <li class="group active">
                                <a href="javascript:void(0);" data-pc-toggle="tab" data-pc-target="profile-1" class="inline-flex items-center mr-6 py-4 transition-all duration-300 ease-linear border-t-2 border-b-2 border-transparent group-[.active]:text-primary-500 group-[.active]:border-b-primary-500 hover:text-primary-500 active:text-primary-500">
                                    <i class="ti ti-user ltr:mr-2 rtl:ml-2 text-lg leading-none"></i>
                                    جزئیات شرکت
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="profile-1">
                        <div class="grid grid-cols-12 gap-6">
                            <div class="col-span-12 lg:col-span-4 2xl:col-span-3">
                                <div class="card">
                                    <div class="card-body relative">
                                        <div class="absolute right-0 top-0 p-[25px]">
                                            <span class="badge bg-primary-500 text-white">Single</span>
                                        </div>
                                        <div class="text-center mt-3">
                                            <div class="chat-avtar inline-flex mx-auto justify-center">
                                                <img class="rounded-full w-[60px]" src="~/panel/images/user/avatar-1.jpg" alt="User image">
                                            </div>
                                            <h5 class="mb-0">ششش</h5>
                                            <p class="text-muted text-sm">سمت</p>
                                            <hr class="my-4 border-secondary-500/10">
                                            <div class="grid grid-cols-12 gap-0 divide-x rtl:divide-x-reverse divide-inherit divide-theme-border dark:divide-themedark-border">
                                                <div class="col-span-4">
                                                    <h5 class="mb-0">45</h5>
                                                    <small class="text-muted">sss</small>
                                                </div>
                                                <div class="col-span-4">
                                                    <h5 class="mb-0">86 KG</h5>
                                                    <small class="text-muted">www</small>
                                                </div>
                                                <div class="col-span-4">
                                                    <h5 class="mb-0">7634</h5>
                                                    <small class="text-muted">dd</small>
                                                </div>
                                            </div>
                                            <hr class="my-4 border-secondary-500/10">
                                            <div class="inline-flex items-center gap-3 w-full mb-3">
                                                <i class="ti ti-phone"></i>
                                                <p class="mb-0">@Html.DisplayNameFor(model => model.Contractor.manager_agent)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-12 lg:col-span-8 2xl:col-span-9">

                                <div class="card">
                                    <div class="card-header">
                                        <h5>اطلاعات شخصی</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="*:py-4 divide-y divide-inherit border-theme-border dark:border-themedark-border">
                                            <li class="list-group-item px-0 pt-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted">@Html.DisplayNameFor(model => model.Contractor.title)</p>
                                                        <p class="mb-0">عنوان سمت</p>
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted">@Html.DisplayFor(model => model.Contractor.company)</p>
                                                        <p class="mb-0">لیسانس</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted">@Html.DisplayNameFor(model => model.Contractor.employer)</p>
                                                        <p class="mb-0">Lesotho</p>
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.Contractor.employer_mobile)</p>
                                                        <p class="mb-0">247 849</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted">@Html.DisplayFor(model => model.Contractor.manager)</p>
                                                        <p class="mb-0">Lesotho</p>
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.Contractor.manager_agent)
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayFor(model => model.Contractor.manager_agent)</p>
                                                        <p class="mb-0">Lesotho</p>
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.Contractor.manager_agent)</p>
                                                        <p class="mb-0">247 849</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
