@page
@using ISO_Manager.Utilities
@model ISO_Manager.Pages.Admin.Contractors.IndexModel

@{
    ViewData["Title"] = "لیست  پیمانکاران";
    var row = 1;
}


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="../Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">لیست پیمانکاران</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-x-6">
            <div class="col-span-12">
                <div class="card table-card">
                    <div class="card-header">
                        <div class="sm:flex items-center justify-between">
                            <h5 class="mb-3 sm:mb-0">لیست  پیمانکاران</h5>
                            <div>
                                <a asp-page="./Create" class="btn btn-primary">اضافه کردن پیمانکار</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="table-responsive">
                            <table class="table table-hover" id="pc-dt-simple">
                                <thead>

                                    <tr>
                                        <th>ردیف</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].company)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].employer)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].employer_mobile)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].manager_agent)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].manager_agent_mobile)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].hse_agent)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].hse_agent_mobile)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].personnel_count)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].contract_number)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].start_date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].end_date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Contractor[0].status)
                                        </th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Contractor)
                                    {
                                        <tr>
                                            <td>@(row++ + ((ViewBag.pageId - 1) * ViewBag.Take))</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.company)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.employer)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.employer_mobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.manager_agent)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.manager_agent_mobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.hse_agent)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.hse_agent_mobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.personnel_count)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.contract_number)
                                            </td>
                                            <td>
                                                @DateToPersian.ToShamsi(item.start_date, "yyyy/MM/dd")
                                            </td>
                                            <td>
                                                @DateToPersian.ToShamsi(item.end_date, "yyyy/MM/dd")
                                            </td>
                                            <td>
                                                @if (item.status.Equals("active"))
                                                {
                                                    <span class="badge text-white bg-success-500">فعال</span>
                                                }
                                                else if (item.status.Equals("expired"))
                                                {
                                                    <span class="badge text-white bg-warning-500">پایان یافته</span>
                                                }
                                                else
                                                {
                                                    <span class="badge text-white bg-danger-500">رد شده</span>
                                                }
                                            </td>
                                            <td>
                                                <a asp-page="/Admin/Examinations/Contractor" asp-route-contractor_id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                    <i class="ti ti-heart text-xl leading-none"></i>
                                                </a>
                                                <a asp-page="./Edit" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                    <i class="ti ti-edit text-xl leading-none"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
