@page
@model ISO_Manager.Pages.Admin.Purposes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Purpose</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose.year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose.year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose.created_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose.created_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose.updated_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose.updated_at)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Purpose.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
