@page
@model ISO_Manager.Pages.Admin.RigAssets.IndexModel

@{
    ViewData["Title"] = "لیست اموال";
    var row = 1;
    var row2 = 1;
    var row3 = 1;
}

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">لیست اموال</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-12">
        <div class="card">
            <div class="card-body">
                <form method="post" class="flex w-full items-center">
                    <div class=" w-1/2 ml-4">
                        <select asp-for="Search" class="form-select">
                            <option value="rig-102">دکل 102</option>
                            <option value="rig-106">دکل 106</option>
                            <option value="rig-107">دکل 107</option>
                        </select>
                    </div>
                    <div class="">
                        <button Type="submit" class="btn btn-primary">بررسی</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card table-card">
        <div class="card-header">
            <div class="sm:flex items-center justify-between">
                <h5 class="mb-3 sm:mb-0">لیست اموال</h5>
                <div>
                    <a asp-page="./Create" class="btn btn-primary">اضافه کردن اموال</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <ul class="flex flex-wrap w-full Text-center nav-tabs my-4 p-4">
                <li class="group active">
                    <a href="javascript:void(0);" data-pc-toggle="tab" data-pc-target="basicpills-1" class="inline-block px-4 py-2 transition-all Duration-300 ease-linear rounded-lg Text-primary-500 group-[.active]:bg-primary-500 group-[.active]:Text-white">
                        دکل
                    </a>
                </li>
                <li class="group">
                    <a href="javascript:void(0);" data-pc-toggle="tab" data-pc-target="basicpills-2" class="inline-block px-4 py-2 transition-all Duration-300 ease-linear rounded-lg Text-primary-500 group-[.active]:bg-primary-500 group-[.active]:Text-white">
                        اردوگاه
                    </a>
                </li>
                <li class="group">
                    <a href="javascript:void(0);" data-pc-toggle="tab" data-pc-target="basicpills-3" class="inline-block px-4 py-2 transition-all Duration-300 ease-linear rounded-lg Text-primary-500 group-[.active]:bg-primary-500 group-[.active]:Text-white">
                        درمانگاه
                    </a>
                </li>
            </ul>
            <div class="mt-5 tab-content">
                <div class="tab-pane block" id="basicpills-1">
                    <div class="table-responsive">
                        <table class="table table-hover" id="pc-dt-simple">
                            <thead>

                            <tr>
                                <th>ردیف</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].AssetName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].DefaultCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].ExistCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].CountUnit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].PositionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].Description)
                                </th>
                                <th>عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.RigAsset.Where(m => m.Region == "rig").ToList())
                            {
                                <tr>
                                    <td>@(row++)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssetName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DefaultCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExistCount)
                                    </td>
                                    <td>
                                        @if (item.CountUnit.Equals("number"))
                                        {
                                            <span class="badge Text-white bg-success-500">عدد</span>
                                        }
                                        else if (item.CountUnit.Equals("loop"))
                                        {
                                            <span class="badge Text-white bg-danger-500">حلقه</span>
                                        }
                                        else if (item.CountUnit.Equals("set"))
                                        {
                                            <span class="badge Text-white bg-secondary-500">دست</span>
                                        }
                                        else if (item.CountUnit.Equals("device"))
                                        {
                                            <span class="badge Text-white bg-primary-500">دستگاه</span>
                                        }
                                        else
                                        {
                                            <span class="badge Text-white bg-info-500">نامشخص</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PositionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                            <i class="ti ti-edit Text-xl leading-none"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="tab-pane hidden" id="basicpills-2">
                    <div class="table-responsive">
                        <table class="table table-hover" id="pc-dt-simple">
                            <thead>

                            <tr>
                                <th>ردیف</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].AssetName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].DefaultCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].ExistCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].CountUnit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].PositionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].Description)
                                </th>
                                <th>عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.RigAsset.Where(m => m.Region == "camp").ToList())
                            {
                                <tr>
                                                    <td>@(row2++)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssetName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DefaultCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExistCount)
                                    </td>
                                    <td>
                                        @if (item.CountUnit.Equals("number"))
                                        {
                                            <span class="badge Text-white bg-success-500">عدد</span>
                                        }
                                        else if (item.CountUnit.Equals("loop"))
                                        {
                                            <span class="badge Text-white bg-danger-500">حلقه</span>
                                        }
                                        else if (item.CountUnit.Equals("set"))
                                        {
                                            <span class="badge Text-white bg-secondary-500">دست</span>
                                        }
                                        else if (item.CountUnit.Equals("device"))
                                        {
                                            <span class="badge Text-white bg-primary-500">دستگاه</span>
                                        }
                                        else
                                        {
                                            <span class="badge Text-white bg-info-500">نامشخص</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PositionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                            <i class="ti ti-edit Text-xl leading-none"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="tab-pane hidden" id="basicpills-3">
                    <div class="table-responsive">
                        <table class="table table-hover" id="pc-dt-simple">
                            <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].AssetName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].DefaultCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].ExistCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].CountUnit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].PositionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RigAsset[0].Description)
                                </th>
                                <th>عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.RigAsset.Where(m => m.Region == "clinic").ToList())
                            {
                                <tr>
                                                    <td>@(row3++)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssetName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DefaultCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExistCount)
                                    </td>
                                    <td>
                                        @if (item.CountUnit.Equals("number"))
                                        {
                                            <span class="badge Text-white bg-success-500">عدد</span>
                                        }
                                        else if (item.CountUnit.Equals("loop"))
                                        {
                                            <span class="badge Text-white bg-danger-500">حلقه</span>
                                        }
                                        else if (item.CountUnit.Equals("set"))
                                        {
                                            <span class="badge Text-white bg-secondary-500">دست</span>
                                        }
                                        else if (item.CountUnit.Equals("device"))
                                        {
                                            <span class="badge Text-white bg-primary-500">دستگاه</span>
                                        }
                                        else
                                        {
                                            <span class="badge Text-white bg-info-500">نامشخص</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PositionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                            <i class="ti ti-edit Text-xl leading-none"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>