@page
@model ISO_Manager.Pages.Admin.ContractorAccidents.DetailsModel

@{
    ViewData["Title"] = "جزئیات حادثه";
}


<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-page="./Index">لیست حوادث پیمانکاری و قراردادی</a></li>
                    <li class="breadcrumb-item" aria-current="page">جزئیات حادثه</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-6">
            <!-- [ sample-page ] start -->
            <div class="col-span-12">
                <div class="card">
                    <div class="card-body !py-0">
                        <ul class="flex flex-wrap w-full font-medium text-center nav-tabs">
                            <li class="group active">
                                <a href="javascript:void(0);" data-pc-toggle="tab" data-pc-target="profile-1" class="inline-flex items-center mr-6 py-4 transition-all duration-300 ease-linear border-t-2 border-b-2 border-transparent group-[.active]:text-primary-500 group-[.active]:border-b-primary-500 hover:text-primary-500 active:text-primary-500">
                                    <i class="ti ti-user ltr:mr-2 rtl:ml-2 text-lg leading-none"></i>
                                    جزئیات حادثه
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="profile-1">
                        <div class="grid grid-cols-12 gap-6">
                            <div class="col-span-12 lg:col-span-4 2xl:col-span-3">
                                <div class="card">
                                    <div class="card-body relative">
                                        <div class="text-center mt-3">
                                            <div class="chat-avtar inline-flex mx-auto justify-center">
                                                <img class="rounded-full w-[60px]" src="~/panel/images/user/avatar-1.jpg" alt="User image">
                                            </div>
                                            <h5 class="mb-0">@Model.ContractorAccident.User?.Name</h5>
                                            <p class="text-muted text-sm">@Model.ContractorAccident.User?.EmploymentType</p>
                                            <hr class="my-4 border-secondary-500/10">
                                            <div class="grid grid-cols-12 gap-0 divide-x rtl:divide-x-reverse divide-inherit divide-theme-border dark:divide-themedark-border">
                                                <div class="col-span-6">
                                                    <h5 class="mb-0">سن</h5>
                                                    <small class="text-muted">55</small>
                                                </div>
                                                <div class="col-span-6">
                                                    <h5 class="mb-0">سابقه</h5>
                                                    <small class="text-muted">12</small>
                                                </div>
                                            </div>
                                            <hr class="my-4 border-secondary-500/10">
                                            <div class="inline-flex items-center gap-3 w-full mb-3">
                                                <p class="mb-0">@Html.DisplayNameFor(model => model.ContractorAccident.accident_date)</p>
                                                <small class="text-muted">@Html.DisplayFor(model => model.ContractorAccident.accident_date)</small>
                                            </div>
                                            <div class="inline-flex items-center gap-3 w-full mb-3">
                                                <p class="mb-0">@Html.DisplayNameFor(model => model.ContractorAccident.accident_hour)</p>
                                                <small class="text-muted">@Html.DisplayFor(model => model.ContractorAccident.accident_hour)</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-12 lg:col-span-8 2xl:col-span-9">

                                <div class="card">
                                    <div class="card-header">
                                        <h5>اطلاعات حادثه</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="*:py-4 divide-y divide-inherit border-theme-border dark:border-themedark-border">
                                            <li class="list-group-item px-0 pt-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted">@Html.DisplayNameFor(model => model.ContractorAccident.Contractor!.company)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.Contractor!.company)</p>
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted">@Html.DisplayNameFor(model => model.ContractorAccident.accident_place)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.accident_place)</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted">@Html.DisplayNameFor(model => model.ContractorAccident.activity_in_accident)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.activity_in_accident)</p>
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.ContractorAccident.direct_accident_causes)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.direct_accident_causes)</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted">@Html.DisplayNameFor(model => model.ContractorAccident.unsafe_action_causes)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.unsafe_action_causes)</p>
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted">@Html.DisplayNameFor(model => model.ContractorAccident.unsafe_condition_causes)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.unsafe_condition_causes)</p>
                                                    </div>
                                                    
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.ContractorAccident.accident_consequence)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.accident_consequence)</p>
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.ContractorAccident.accident_complication)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.accident_complication)</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.ContractorAccident.marriage)</p>
                                                        @if (Model.ContractorAccident.marriage == "single")
                                                        {
                                                            <span class="badge bg-primary-500 text-white">مجرد</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-primary-500 text-white">متاهل</span>
                                                        }
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.ContractorAccident.is_guilty)</p>
                                                        @if (Model.ContractorAccident.is_guilty == 1)
                                                        {
                                                            <span class="badge bg-red-500 text-white">مقصر</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-success-500 text-white">غیر مقصر</span>
                                                        }
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12 md:col-span-6">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.ContractorAccident.lost_days)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.lost_days)</p>
                                                    </div>
                                                    <div class="col-span-12 md:col-span-6">
                                                        @* <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.ContractorAccident.accident_complication)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.accident_complication)</p> *@
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.ContractorAccident.accident_description)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.accident_description)</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0">
                                                <div class="grid grid-cols-12 gap-6">
                                                    <div class="col-span-12">
                                                        <p class="mb-1 text-muted"> @Html.DisplayNameFor(model => model.ContractorAccident.hse_description)</p>
                                                        <p class="mb-0">@Html.DisplayFor(model => model.ContractorAccident.hse_description)</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
