@page
@model ISO_Manager.Pages.Admin.ContractorAccidents.IndexModel

@{
    ViewData["Title"] = "لیست حوادث کارکنان قراردادی و پیمانکاری";
}

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Index">خانه</a></li>
                    <li class="breadcrumb-item" aria-current="page">لیست  حوادث کارکنان پیمانکاری و قراردادی</li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-x-6">
            <div class="col-span-12">
                <div class="card table-card">
                    <div class="card-header">
                        <div class="sm:flex items-center justify-between">
                            <h5 class="mb-3 sm:mb-0">لیست حوادث کارکنان پیمانکاری و قراردادی</h5>
                            <div>
                                <a asp-page="./Create" class="btn btn-primary">اضافه کردن حادثه</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="table-responsive">
                            <table class="table table-hover" id="pc-dt-simple">
                                <thead>

                                    <tr>
                                        <th>ردیف</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContractorAccident[0].User)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContractorAccident[0].Contractor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContractorAccident[0].AccidentDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContractorAccident[0].AccidentPlace)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContractorAccident[0].AccidentDescription)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContractorAccident[0].AccidentConsequence)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContractorAccident[0].AccidentComplication)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContractorAccident[0].AccidentInjuredPart)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContractorAccident[0].LostDays)
                                        </th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ContractorAccident)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User!.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Contractor!.Company)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccidentDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccidentPlace)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccidentDescription)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccidentConsequence)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccidentComplication)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccidentInjuredPart)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LostDays)
                                            </td>
                                            <td>
                                                <a asp-page="./Details" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                    <i class="ti ti-eye Text-xl leading-none"></i>
                                                </a>
                                                <a asp-page="./Edit" asp-route-id="@item.Id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                    <i class="ti ti-edit Text-xl leading-none"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>