@page
@model ISO_Manager.Pages.Admin.Messages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.created_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.created_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.updated_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.updated_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.Sender.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message.Receiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message.Receiver.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Message.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
