@page
@model ISO_Manager.Pages.Admin.OccupationHarmfuls.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OccupationHarmful</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.ExposureSource)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.ExposureSource)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.EvaluationMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.EvaluationMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.ExposureRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.ExposureRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.ExposureDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.ExposureDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.ExposureLimit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.ExposureLimit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.Occupation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.Occupation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.HarmfulFactor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.HarmfulFactor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationHarmful.HarmfulItemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationHarmful.HarmfulItemId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OccupationHarmful.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
