@page
@model ISO_Manager.Pages.Admin.EmergencyPhoneBooks.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EmergencyPhoneBook</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhoneBook.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhoneBook.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhoneBook.CityPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhoneBook.CityPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhoneBook.CompanyPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhoneBook.CompanyPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhoneBook.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhoneBook.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhoneBook.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhoneBook.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPhoneBook.OrganizationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPhoneBook.OrganizationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmergencyPhoneBook.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
