@page
@model ISO_Manager.Pages.Admin.Maneuveres.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Maneuver</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.ActTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.ActTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.Equipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.Equipment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Maneuver.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
