@page
@model ISO_Manager.Pages.Admin.Cartables.IndexModel

@{
    ViewData["Title"] = "Index";
    var row = 1;
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cartable[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cartable[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cartable[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cartable[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cartable[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cartable) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
